# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# Start with a C++ template if available
*.o
*.obj
*.exe
*.out
*.app

# Arduino-specific additions
*.ino.*
*.elf
*.hex
*.bin

# Ignore compiled libraries
libraries/*/src/*.o
libraries/*/src/*.d
libraries/*/src/*.a

# OS-specific
.DS_Store
Thumbs.db
